*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    overflow-x: hidden;
    background-color: rgba(245, 222, 179, 0.579);
}
.hero-section{
    background: linear-gradient(135deg, rgb(255, 255, 255),rgba(242, 240, 236, 0.875),rgba(235, 219, 192, 0.492), rgba(112, 197, 246, 0.689),rgba(243, 231, 211, 0.936),rgba(243, 231, 211, 0.936),rgba(243, 231, 211, 0.936) );
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    padding-bottom: 20px;
}
.main-pill{
    border: 0.5px solid rgba(255, 166, 0, 0.466);
    border-radius: 25px;
    padding: 12px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-icon{
    color: red;
}
.pill-content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(128, 128, 128, 0.868);
    font-weight: 600;
}
.hero-heading{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(17, 17, 17);
    font-weight: bold;
    margin-bottom: 30px;
    font-size: 2rem;
}
.line{
    height: 5px;
    width: 80px;
    background: linear-gradient(100deg,transparent, rgb(255, 166, 0), transparent);
}
.hero-quote{
    color: rgb(129, 128, 128);
    margin-top: 20px;
    font-size: 1.3rem;
}
.hero-image-container{
    border: none;
    border-radius: 50%;
    height: 320px;
    width: 320px;
    padding: 2px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.hero-image{
    object-fit: cover;
    border-radius: 50%;
    height: 310px;
    width: 310px;
}
.description-container{
    border-radius: 15px;
    box-shadow: 0px 4px 8px rgba(78, 77, 77, 0.29);
    background-color: white;
    width: 680px;
    padding: 40px;
    margin-bottom: 50px;
}
.description-container span{
    color: orange;
    font-weight: bold;
}
.main-description{
    color: rgba(0, 0, 0, 0.621);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    padding-bottom: 26px;
    font-size: 1.2rem;
}
.side-description{
    color: rgba(0, 0, 0, 0.436);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    line-height: 1.5;
    font-size: 1.1rem;
}
.story-section{
    background: linear-gradient(130deg, rgb(255, 255, 255), rgba(243, 231, 211, 0.936), rgba(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
}
.story-heading{
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 800;
    font-size: 1.8rem;
    margin-bottom: 26px;
}
.story-shortline{
    color: rgba(128, 128, 128, 0.841);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 20px;
}
.sectional-story{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 780px;
    gap: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.bit-story{
    border: none;
    box-shadow: 0px 2px 4px rgba(253, 165, 3, 0.61);
    background-color: white;
    border-radius: 26px;
    padding: 34px;
    display: flex;
    gap: 6px;
}
.icon-container{
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.133);
    color: rgb(255, 166, 0);
    font-size: 1rem;
}
.icon-container1{
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(86, 168, 244, 0.227);
    color: rgba(0, 140, 255, 0.468);
    font-size: 1rem;
}
.icon-container2{
    height: 50px;
    width: 140px;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.273);
    color: rgba(250, 178, 45, 0.756);
    font-size: 1rem;
}
.icon{
    font-size: 1.5rem;
}
.container-story{
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.container-story h3{
    color: black;
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 8px;
}
.main-para{
    color: rgb(95, 95, 95);
    font-size: 1.15rem;
    padding-bottom: 20px;
    line-height: 1.3;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.ironic-para{
    color: rgba(128, 128, 128, 0.816);
    font-size: 1.2rem;
    padding-bottom: 6px;
    line-height: 1.1;
}

.milestone-section{
    background: linear-gradient(235deg, rgb(255, 255, 255), rgba(243, 231, 211, 0.936), rgba(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
}
.milestone-story{
    border-left: 3px solid orange;
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    padding-left: 40px;
    margin-top: 20px;
}
.milestone{
    display: flex;
    gap: 20px;
    background: transparent;
    border: none;
}
.year{
    background-color: white;
    color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 0.9rem;
    font-weight: 600;
    height: 50px;
    width: 50px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    left: -25px;
}
.milestone-brief{
    padding: 25px;
    border: none;
    border-radius: 15px;
    background-color: white;
    width: 750px;
    box-shadow: 0px 0px 4px orange;
}
.milestone-brief h3{
    color: rgba(0, 0, 0, 0.859);
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 16px;
    transition: color 0.3s ease-in;
}
.milestone-brief:hover h3{
    color: orange;
}
.milestone-brief p{
    color: rgba(128, 128, 128, 0.804);
    line-height: 1.2;
    font-size: 1.1rem;
    font-weight: 250;
    margin: 6px;
}

.inspire-section{
    background: linear-gradient(130deg, rgb(255, 255, 255), rgba(243, 231, 211, 0.936), rgba(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
}
.inspired-quotes-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    background: transparent;
}
.inspired-quote{
    background-color: white;
    border: none;
    border-radius: 16px;
    padding: 25px;
    position: relative;
    width: 750px;
    transition: box-shadow 0.3s ease-in;
}
.inspired-quote:hover{
    box-shadow: 2px 2px 8px rgba(46, 45, 45, 0.227);
}
.quote-background{
    position: absolute;
    top: 0;
    right: 6px;
    opacity: 0.08;
    transform: rotate(180deg);
}
.inspired-quote h4{
    font-size: 1.5rem;
    font-weight: 300;
    color: rgb(65, 64, 64);
}
.quote-brief1{
    border-left: 4px solid orange;
    padding: 6px 10px;
    color: rgba(128, 128, 128, 0.859);
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 15px;
}
.quote-brief2{
    border-left: 4px solid rgba(14, 136, 250, 0.764);
    padding: 6px 10px;
    color: rgba(128, 128, 128, 0.859);
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 15px;
}
.quote-brief3{
    border-left: 4px solid rgba(4, 121, 67, 0.807);
    padding: 6px 10px;
    color: rgba(128, 128, 128, 0.859);
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 15px;
}
.quote-brief4{
    border-left: 4px solid rgba(155, 102, 2, 0.763);
    padding: 6px 10px;
    color: rgba(128, 128, 128, 0.859);
    font-weight: 400;
    font-size: 1.2rem;
    margin-top: 15px;
}

.imapct-section{
    background: linear-gradient(235deg, rgb(255, 255, 255), rgba(243, 231, 211, 0.936), rgba(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100vw;
}
.impact-matter-container{
    display: grid;
    grid-template-columns: 550px 550px;
    gap: 15px;
}
.impact-matter{
    background-color: white;
    padding: 30px;
    border: none;
    border-radius: 16px;
    display: flex;
    gap: 10px;
}
.impact-icon-container{
    height: 40px;
    width: 50px;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgba(246, 169, 26, 0.164);
    color: rgb(255, 145, 0);
}
.impact{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.impact-heading-content{
    display: flex;
    justify-content: space-between;
}
.impact-heading-content h3{
    columns: rgb(38, 38, 38);
    font-size: 1.4rem;
    font-weight: 400;
}
.impact-pill{
    border: none;
    border-radius: 25px;
    padding: 6px 8px;
    background-color: rgba(247, 180, 56, 0.164);
    color: rgb(255, 145, 0);
    font-weight: 900;
    font-size: 0.8rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.impact p{
    color: rgba(110, 110, 110, 0.816);
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 6px;
}

.legacy-section{
    background: linear-gradient(130deg, rgb(255, 255, 255), rgba(243, 231, 211, 0.936), rgba(255, 255, 255));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100vw;
}
.legacy-matters-container{
    display: grid;
    grid-template-columns: repeat(3, 350px);
    gap: 10px;
}
.legacy-matter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: white;
    border: none;
    border-radius: 16px;
}
.legacy-icon-container1{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(247, 186, 73, 0.244);
    color: orange;
    border: none;
    border-radius: 12px;
}
.legacy-icon-container2{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(132, 225, 241, 0.244);
    color: rgba(0, 195, 255, 0.882);
    border: none;
    border-radius: 12px;
}
.legacy-icon-container3{
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(108, 197, 142, 0.244);
    color: rgba(55, 192, 1, 0.938);
    border: none;
    border-radius: 12px;
}
.legacy-matter h3{
    columns: rgb(38, 38, 38);
    font-size: 1.3rem;
    font-weight: 600;
}
.legacy-matter p{
    color: rgba(110, 110, 110, 0.816);
    font-weight: 300;
    line-height: 1.3;
    margin-bottom: 6px;
    text-align: center;
}
.legacy-description-container{
    background-color: white;
    border: none;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    box-shadow: 1px 2px 8px rgba(128, 128, 128, 0.704);
    margin-top: 30px;
    width: 700px;
}
.legacy-description-container h2{
    text-align: center;
    line-height: 1.3;
    color: rgba(33, 33, 69, 0.808);
    font-weight: 400;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.hori-line{
    height: 5px;
    width: 80px;
    background: linear-gradient(100deg,transparent, rgb(255, 166, 0), transparent);
    margin-bottom: 20px;
}
.legacy-description-container p{
    text-align: center;
    line-height: 1.3;
    color: rgb(88, 88, 88);
    margin-bottom: 15px;
    font-size: 1.2rem;
}
.legacy-description-container h3{
    color: rgb(255, 128, 0);
    font-weight: 700;
    text-align: center;
    margin-bottom: 6px;
    font-size: 1.4rem;
}

.footer-section{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: rgba(87, 51, 51, 0.807);
}
.footer-section h3{
    font-size: 1.5rem;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 700;
}
.footer-section h4{
    color: whitesmoke;
    margin-bottom: 30px;
    line-height: 1.3;
    font-size: 500;
}
.footer-section hr{
    width: 500px;
    color: gray;
    margin-bottom: 20px;
}
.footer-para{
    font-size: 1rem;
    color: rgb(195, 195, 195);
    margin-top: 6px;
    margin-bottom: 30px;
}
.footer-credits{
    color: rgb(153, 152, 152);
    font-size: 0.8rem;
}

/* ===================== RESPONSIVE DESIGN FIX ===================== */

/* ----------- Tablets (max-width: 1024px) ----------- */
@media (max-width: 1024px) {
    body{
        overflow-x: hidden;
    }
  .description-container,
  .inspired-quote,
  .legacy-description-container {
    width: 85%;
  }
  .icon-container,
  .icon-container1,
  .icon-container2{
    height: 40px;
    width: 100px;
    font-size: 0.8rem;
  }

  .milestone-brief{
    width: 550px;
  }

  .inspired-quotes-container,
  .milestone-story{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .sectional-story {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .impact-matter-container {
    grid-template-columns:  1fr;
    gap: 25px;
  }

  .legacy-matters-container {
    grid-template-columns:  1fr;
    gap: 25px;
  }

  /* .hero-image-container {
    height: 260px;
    width: 260px;
  }

  .hero-heading {
    font-size: 1.8rem;
    text-align: center;
  }

  .hero-quote {
    font-size: 1.1rem;
    text-align: center;
    width: 90%;
  } */

  .bit-story {
    padding: 25px;
  }

  .milestone-brief p {
    font-size: 1rem;
  }
}

/* ----------- Mobile Devices (max-width: 768px) ----------- */
@media (max-width: 768px) {
    body{
        overflow-x: hidden;
    }
  /* .hero-section {
    padding: 30px 10px;
  }

  .hero-heading {
    font-size: 1.6rem;
    text-align: center;
  }

  .hero-quote {
    font-size: 1rem;
    text-align: center;
    width: 90%;
  }

  .hero-image-container {
    height: 220px;
    width: 220px;
  }

  .description-container {
    width: 90%;
    padding: 20px;
  }

  .main-description,
  .side-description {
    font-size: 1rem;
  } */
    .icon-container,
  .icon-container1,
  .icon-container2{
    height: 50px;
    width: 50px;
    font-size: 0.8rem;
  }

  .sectional-story {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .bit-story {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 20px;
  }

  .container-story h3 {
    font-size: 1.3rem;
  }

  .milestone-story {
    padding-left: 25px;
  }

  .milestone-brief {
    width: 500px;
  }

  .inspired-quotes-container,
  .impact-matter-container,
  .legacy-matters-container {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .milestone-story{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  

  .impact-matter-container {
    grid-template-columns: 1fr;
  }

  .legacy-matters-container {
    grid-template-columns: 1fr;
  }

  .legacy-description-container {
    width: 90%;
    padding: 20px;
  }

  .footer-section h3 {
    text-align: center;
    font-size: 1.3rem;
  }

  .footer-section h4 {
    font-size: 0.95rem;
    text-align: center;
    width: 90%;
  }

  .footer-para {
    font-size: 0.9rem;
    text-align: center;
  }
}

/* ----------- Small Mobile (max-width: 480px) ----------- */
@media (max-width: 480px) {
    body{
        overflow-x: hidden;
    }
  .hero-section {
    padding: 20px 8px;
  }

  .hero-heading {
    font-size: 1.3rem;
    text-align: center;
  }

  .hero-quote {
    font-size: 0.9rem;
    width: 95%;
    text-align: center;
  }

  .hero-image-container {
    height: 160px;
    width: 160px;
  }
  .hero-image{
    height: 140px;
    width: 140px;
  }

  .main-description,
  .side-description {
    font-size: 0.95rem;
    text-align: center;
  }

  .sectional-story,
  .milestone-brief,
  .inspired-quotes-container,
  .impact-matter-container,
  .legacy-matters-container,
  .legacy-description-container,
  .milestone-story {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon-container,
  .icon-container1,
  .icon-container2{
    height: 50px;
    width: 50px;
    font-size: 0.8rem;
  }
  .story-heading{
    text-align: center;
    font-size: 1.3rem;
  }

  .bit-story {
    padding: 15px;
  }

  .milestone-brief h3 {
    font-size: 1.2rem;
  }

  .inspired-quote h4 {
    font-size: 1.1rem;
  }

  .impact-matter {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }

  .legacy-matter {
    padding: 20px;
  }

  .legacy-matter h3 {
    font-size: 1.1rem;
  }

  .legacy-matter p {
    font-size: 0.9rem;
  }

  .footer-section {
    padding: 20px 10px;
  }

  .footer-section h3 {
    font-size: 1.1rem;
  }

  .footer-section h4,
  .footer-para {
    font-size: 0.85rem;
  }

  .footer-section hr {
    width: 85%;
  }
}
