@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #f9fbfe;
}

.todos-heading {
  font-size: 2.5rem;
  font-weight: 700;
  color: #333;
}

.create-task-heading {
  font-size: 1.5rem;
  font-weight: 700;
}

.create-task-heading-subpart {
  color: #4c63b6;
}

.todo-items-heading {
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 20px;
}

.todo-items-heading-subpart {
  color: #4c63b6;
}

.todo-user-input {
  background-color: #fff;
  border: 1px solid #e4e7eb;
  border-radius: 8px;
  padding: 10px 15px;
  font-size: 16px;
  width: 100%;
  transition: border-color 0.3s;
}

.todo-user-input:focus {
  outline: none;
  border-color: #4c63b6;
}

.button {
  background-color: #4c63b6;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 6px;
  padding: 8px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #3b4da8;
}

.todo-item-container {
  background-color: #fff;
  border-left: 4px solid #3b4da8;
  border-radius: 6px;
  padding: 12px 16px;
  margin-bottom: 10px;
  transition: box-shadow 0.3s;
}

.todo-item-container:hover {
  box-shadow: 0 2px 10px rgba(0,0,0,0.05);
}

.checkbox-input {
  width: 18px;
  height: 16px;
  margin-right: 10px;
}

.checkbox-label {
  font-size: 1rem;
  flex: 1;
  font-weight: 600;
  word-break: break-word;
  margin-top: 2px;
}
.span-label{
    font-size: 0.7rem;
    flex: 1;
    font-weight: 300;
    word-break: break-word;
    color: gray;
}

.delete-icon-container i {
  cursor: pointer;
  color: #4c63b6;
  font-size: 18px;
  transition: color 0.2s;
}

.delete-icon-container i:hover {
  color: #ff4b4b;
}

/* -------- RESPONSIVE DESIGN -------- */
@media (max-width: 768px) {
  .todos-heading {
    font-size: 2rem;
  }

  .create-task-heading {
    font-size: 1.3rem;
  }

  .todo-items-heading {
    font-size: 1.2rem;
  }

  .todo-user-input {
    font-size: 14px;
  }

  .button {
    width: 100%;
    margin-top: 10px;
  }

  .todo-item-container {
    flex-direction: column;
    align-items: flex-start !important;
  }

  .checkbox-label {
    margin: 10px 0;
  }

  .delete-icon-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 480px) {
  .todos-heading {
    font-size: 1.8rem;
  }

  .button {
    font-size: 14px;
    padding: 8px 14px;
  }

  .todo-user-input {
    font-size: 14px;
  }
}
